.nav-bar-div {
  width: auto;
  display: flex;
  padding: 0.5rem 1.2rem;
  gap: .68rem;
  background-color: #212121;
  border-radius: 0.3rem;
}

.nav-bar-div p {
  margin: 0;
  font-size: 1.3em;
}

.nav-bar-div a {
  text-decoration: none;
  color: white;
}
