.image {
  display: flex;
  width: 80px;
  border-radius: 50%;
  border: 5px solid #e2b714;
  object-fit: fill;
  align-items: center;
  gap: 1rem;
}
.home-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper__bio {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  
}
.wrapper__bio h1 {
  height: 1px;
}
