.nav-bar-div {
  width: auto;
  display: flex;
  padding: 0.5rem 1.2rem;
  gap: 0.68rem;
  background-color: #212121;
  border-radius: 0.3rem;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-bar-div p {
  margin: 0;
  font-size: 1.3em;
}

.nav-bar-div a {
  text-decoration: none;
  color: var(--font-color);
}

@media (min-width: 700px) {
  .nav-bar-div {
    width: 33vw;
  }
}
