@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Montserrat:wght@500&family=Poppins&display=swap");

:root {
  --accent: 124, 58, 237;
  --main-color: #171515;
  --sec-color: #2c2c2c;
  --accent-color: #e2b714;
  --font-color: hsl(0, 0%, 85%);
  --charcoal: #231f20;
  --brand-coal: #0f0d0e;
}

html body {
  width: 100vw;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: repeating-linear-gradient(
      to right,
      var(--charcoal),
      var(--charcoal) 1px,
      transparent 1px,
      transparent 30px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--charcoal),
      var(--charcoal) 1px,
      transparent 1px,
      transparent 30px
    );

  font-family: "Montserrat", sans-serif;

  background-color: #070404;
  color: var(--font-color);
}
.div_1 {
  width: 85vw;
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
}
.main__app {
  margin: 1rem 0rem;
  display: grid;
  gap: 0.1px;
  width: 100%;
}

@media (max-width: 760px) {
  .div_1 {
    background-color: #e2b714 !important;
    width: 50vw;
  }
}
@media screen and (max-width: 900px) {
  .div_1 {
    width: 60vw;
  }
}
