h3{
  text-transform: capitalize;
  text-decoration: underline;
}
.wrapper-items {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.wrapper__projects {
  padding: 1.5rem;
  background-color: #212121;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  font-size: 1rem;
  text-transform: capitalize;
  color: #4d9355;
}
.proj__desc {
  font-size: 1rem;
  text-transform: capitalize;
}
.footer__proj {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: capitalize;
}
.lang {
  font-size: 0.8rem;
  color: #e2b714;
  padding: 5px;
  border-radius: 0.2rem;
  background-color: #282828;
}

/* .app__projects  {
  height: 300px;
  -webkit-columns: 100px 5;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #212121;
}

.app__projects-columnleft,
.app__projects-columnright {
  display: inline-block;
  width: 150px;
}
.app__projects-columnright {
  padding: 24px;
  background-color: #212121;
  border-radius: 0.3rem;
  margin-left: 150px;
}
.app__projects-columnleft {
  padding: 24px;
  background-color: #212121;
  border-radius: 0.3rem;
}
.app__projects-columnleft h1,
.app__projects-columnright h1 {
  color: #4d9355;
  text-transform: capitalize;
} */
