h3 {
  text-transform: capitalize;
  text-decoration: underline;
}
.wrapper-items {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.wrapper__projects {
  padding: 1.5rem;
  background-color: #212121;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  font-size: 1rem;
  text-transform: capitalize;
  color: #4d9355;
}
.proj__desc {
  font-size: 1rem;
  text-transform: capitalize;
}
.footer__proj {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: capitalize;
}
.lang {
  font-size: 0.8rem;
  color: #e2b714;
  padding: 5px;
  border-radius: 0.2rem;
  background-color: #282828;
  height: 17px;
}

@media (min-width: 700px) {
  .wrapper-items {
    grid-template-columns: 1fr;
    width: 36.5vw;
  }
}
